@import url(<link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">);


body {
        font-family: 'Heebo', 'sans-serif';

}
hl {
    color: brown:
    font-family: "Comic Sans MS";
}

a {
    font-family: 'Heebo', 'sans-serif';
    font-size: 30px;
    color: blue;
}