@import url(<link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">);


body {
        font-family: 'Heebo', 'sans-serif';

}
hl {
    color: brown:
    font-family: "Comic Sans MS";
}

.helloWorldH2 {
    font-size: 90px;
    font-weight: 69;
    color: black;
}
.aboutWrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.navWrapper {
    width: 240px;
}