@import url(<link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">);


body {
        font-family: 'Heebo', 'sans-serif';
    background: #F0F0F0;
        margin: 0px;

}
hl {
    color: brown:
    font-family: "Comic Sans MS";
}

a {
    font-family: 'Heebo', 'sans-serif';
    font-size: 30px;
    color: blue;
}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.Gaming {color: green;}
.Funny {color: dodgerblue;}
.Scary {color: orange;}
.Cool {color: red;}
.Settings {color: black;}